@{
  Layout = "_Layout";
}

<body>
  <h1>ALCHEMY SALON</h1>

  @if (@Model.Count == 0)
  {
    <h2>No Stylists have been added yet.</h2>
  }

  <h2>Stylists belonging to <strong>@Model["specialty"].Technique</strong></h2>
  @foreach (var stylist in @Model["allStylists"])
  {
    <h3><a href='/specialty/@Model["specialty"].Id/stylist/@stylist.Id'>@stylist.StylistName</a></h3>
  }

  <h4>Add a Stylist to this Specialty:

    <form action='/specialty/@Model["specialty"].Id/Stylist/new' method='post'>
      <label id="blue" for='stylistId'>Select a Stylist</label>
      <select id='stylistId' name='stylistId' type='text'>
        @foreach (var stylist in @Model["allStylists"])
        {
          <option value='@stylist.Id'>@stylist.StylistName</option>
        }
      </select>
      <button type='submit' class="btn btn-dark">Add</button>
    </form>

    <a href='/specialty'>Return to the List of All Specialties</a></h4>
  </body>
  </html>
